*{
    margin:0;
    padding:0;
}
body {
    text-align: center;
    background: rgb(116, 185, 255);
    /* position:relative; */
}


.menu1{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#header{
    text-align: center;
    width: 100%;
    height: 50px;
}

ul  {
    text-align: center;
    list-style-type: none;
    padding:0;
    width: 200px;
    margin: 0 auto;
}

li{
    margin: 20px 0px;
}
#timer{
    font-size: 70px;
    text-align:center;

}
canvas{
    text-align:center;
}
.menu-button{
    background: white; 
    padding: 10px 0;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    border:none;
    cursor: pointer;
    width: 200px;
    text-decoration:none;
}

#points, #lives, .points{
    display: inline;
}

.modal {
    background: rgba(214, 48, 49,0.8);
    height: 100%;
    width: 100%;
    position: fixed;
    visibility: hidden;
    display:flex;
}

.modal-content .menu-button{
    /* max-height: 45px; */
  
}

.modal-content{
     display:flex;
     flex-direction: column;
     align-items: center;
     width:100%;
     margin: auto 0;
}

footer{
    height: 50px;
}